@color_text: #2a2a2a;
@color_text-date: #292929;
@color_text-light: #b4b4b4;
@color_text-lang-hover: #333333;
@color_text-footer: #98989a;

@color_bg-grey: #f9f9f9;
@color_bg-yellow: #f19336;
@color_bg-blue: #49aef1;
@color_bg-purple: #91348f;
@color_bg-green: #204c1e;
@color_bg-dark: #0f2b04;
@color_bg-dark_green: #112c04;

@width-cont: 1024px;