.cherry{
  .full();
  overflow: hidden;

  &:after{
    .position();
    z-index: 1000;
    .block();
    .full();
    .shadow();
  }

  &-bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: url(../img/bg_ch.png) center center;

    /*&:after{
      .block();
      .full();
      .position();
      background: url(../img/lief_ch.png) no-repeat center center;
    }*/
  }

  &-drop{
    .full();
    .position();
    z-index: 100;
  }

  &-bl{
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url(../img/cherry_blocks.png);
    background-position: top left;
    background-repeat: no-repeat;

    &-2{
      background-position: -150px top;
    }

    &-3{
      background-position: -300px top;
    }

    &-4{
      background-position: -450px top;
    }

    &-5{
      background-position: left -150px;
    }

    &-6{
      background-position: -150px -150px;
    }

    &-7{
      background-position: -300px -150px;
    }

    &-8{
      background-position: -450px -150px;
    }

    &-9{
      background-position: left -300px;
    }

    &-10{
      background-position: -150px -300px;
    }

    &-11{
      background-position: -300px -300px;
    }

    &-12{
      background-position: -450px -300px;
    }

    &-13{
      background-position: left -450px;
    }

    &-14{
      background-position: -150px -450px;
    }

    &-15{
      background-position: -300px -450px;
    }

    &-16{
      background-position: -450px -450px;
    }
  }
}