html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  overflow: hidden;
}
.content{
  .full();
  text-align: center;
  background: @color_bg-dark_green;
  .green-radial-gradient();
  overflow: auto;
  height: 100%;
  width: 100%;

  &:before{
    .block();
    position: absolute;
    left: 50%;
    margin-left: -150px;
    height: 100%;
    width: 300px;
    .blick();
  }
}