.rotate(@deg){
  -webkit-transform: rotate("@{deg}deg");
  -moz-transform: rotate("@{deg}deg");
  -o-transform: rotate("@{deg}deg");
  -ms-transform: rotate("@{deg}deg");
  transform: rotate("@{deg}deg");
}

@iterations: 9;
.loopingClass (@index) when (@index > 0) {
   .deg@{index} {
    .rotate(@index*10);
  }
  .loopingClass(@index - 1);
}
.loopingClass (0) {}
.loopingClass (@iterations);


@iter: 9;
.cicleClass (@index) when (@index > 0) {
  .deg-@{index} {
    .rotate(-@index*10);
  }
  .cicleClass(@index - 1);
}
.cicleClass (0) {}
.cicleClass (@iter);
